apiVersion: apps/v1
kind: Deployment
metadata:
  name: api

spec:
  replicas: 2
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
        tier: application
    spec:
      containers:
      - name: api
        image: mma44331/sql_query:v1
        ports:
        - containerPort: 8000
        env:
          - name: MYSQL_USER
            value: "root"
          - name: MYSQL_ROOT_PASSWORD
            value: "rootpassword"
          - name: MYSQL_DATABASE
            value: "classicmodels"
          - name: MYSQL_HOST
            value: "mysql-svc"


